Options +FollowSymLinks -MultiViews
Options -Indexes
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/(.*)$ index.php?version=$1&module=$2 [L,QSA]
RewriteRule /?configuration.json$ - [F,L]
ErrorDocument 404 /index.php